@model IdentityScenarioOne.Webapp.Models.NBMEUser

<div>
    <h4>NBMEUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthToken)
        </dd>

    </dl>
</div>
<p>
   
</p>
